.footer {
	font: var(--medium);
	padding-block-end: 88px;
	margin-block-start: 104px;
	color: var(--white);
}

.footer-title {
	font: var(--smallBold);
	color: var(--yellow);
	text-transform: uppercase;
	margin-block-start: 64px;
	margin-block-end: 24px;
}

.footer-copyrigth img {
	vertical-align: middle;
}

.copyrigth {
	opacity: 0.5;
}

.footer-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-links a {
	text-decoration: none;
	margin-block-start: 16px;
	color: var(--white);
	transition: 0.3s color;
	-webkit-transition: 0.3s color;
	-moz-transition: 0.3s color;
	-ms-transition: 0.3s color;
	-o-transition: 0.3s color;
}

.footer-links a::after {
	content: '';
	display: block;
	block-size: 3px;
	inline-size: 0;
	background-color: var(--yellow);
	transition: 0.3s inline-size;
	-webkit-transition: 0.3s inline-size;
	-moz-transition: 0.3s inline-size;
	-ms-transition: 0.3s inline-size;
	-o-transition: 0.3s inline-size;
}

.footer-links a:hover {
	color: var(--yellow);
}

.footer-links a:hover::after {
	inline-size: 100%;
}

@media screen and (min-width: 810px) {
	.footer {
		padding-block-end: 120px;
	}

	.footer-content {
		display: flex;
		justify-content: space-between;
	}

	.footer-menu {
		display: flex;
		flex-direction: column;
	}

	.footer-menu div:first-child .footer-title {
		margin-block-start: 0;
	}
}

@media screen and (min-width: 1260px) {
	.footer {
		margin-block-start: 0;
	}

	.footer-menu {
		gap: 158px;
		flex-direction: row;
	}

	.footer-title {
		margin-block-start: 0;
	}
}
