.header {
	padding-block-start: 24px;
	max-inline-size: 145.6719rem;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.logo img {
	vertical-align: middle;
}

@media screen and (min-width: 810px) {
	.header {
		padding-block-start: 56px;
	}

	.header-content {
		flex-direction: row;
		justify-content: space-between;
		padding-inline-end: 80px;
		padding-inline-start: 80px;
	}
}
