.index-nav {
	display: none;
}

.index-nav-content {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.index-nav-content a {
	font: var(--normalBtn);
	color: var(--blue);
	padding-block-end: 20px;
	padding-block-start: 20px;
	padding-inline-end: 24px;
	text-decoration: none;
	box-shadow: -3px 0 rgba(11, 29, 38, 0.5) inset;
	transition: box-shadow 0.4s;
	-webkit-transition: box-shadow 0.4s;
	-moz-transition: box-shadow 0.4s;
	-ms-transition: box-shadow 0.4s;
	-o-transition: box-shadow 0.4s;
}

.index-nav-content a:hover {
	box-shadow: -5px 0 rgba(11, 29, 38, 1) inset;
}

.index-nav-content a:first-child {
	padding-block-start: 16px;
}

.index-nav-content a:last-child {
	padding-block-end: 0px;
}

.index-nav-content .index-link-selected {
	box-shadow: -3px 0 rgba(11, 29, 38, 1) inset;
}

@media screen and (min-width: 950px) {
	.index-nav {
		display: block;
	}
}
