.product {
	inline-size: 100%;
	color: var(--white);
}

.product-image {
	margin: 0;
}

.product img {
	inline-size: 100%;
	vertical-align: middle;
}

.product-info {
	margin-block-start: 44px;
	padding-block-start: 58px;
}

.product-title::before {
	content: '0' counter(product);
	display: block;
	position: absolute;
	font: 700 80px/120px var(--fontBase);
	bottom: 5px;
	opacity: 0.1;
	counter-increment: product;
}

.product-title {
	font: var(--headline2);
	text-transform: uppercase;
	position: relative;
}

.product-description {
	margin-block-start: 30px;
}

.product-link {
	color: var(--yellow);
	text-decoration: none;
	font: var(--normalBtn);
	transition: 0.3s font-size;
	-webkit-transition: 0.3s font-size;
	-moz-transition: 0.3s font-size;
	-ms-transition: 0.3s font-size;
	-o-transition: 0.3s font-size;
}

.product-link:hover {
	font-size: 20px;
}

.product-link i {
	margin-inline-start: 16px;
}

@media screen and (min-width: 490px) {
	.product-image {
		inline-size: 432px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 810px) {
	.product {
		display: flex;
		gap: 60px;
		align-items: center;
	}

	.product:nth-child(odd) {
		flex-direction: row-reverse;
	}

	.product-info {
		margin-block-start: 0;
		inline-size: 60%;
	}

	.product-description {
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

@media screen and (min-width: 1260px) {
	.product {
		gap: 114px;
	}

	.product-info {
		padding-inline-start: 150px;
	}

	.product-title::before {
		font: 700 240px/240px var(--fontBase);
		bottom: -12px;
		left: -150px;
	}

	.product-title {
		margin-block-start: 27px;
	}

	.product-description {
		display: block;
	}
}
