.wrapper {
	padding-inline-end: 1.5rem;
	padding-inline-start: 1.5rem;
	max-inline-size: 43.75rem;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

@media screen and (min-width: 815px) {
	.wrapper {
		max-inline-size: 145.6719rem;
	}
}
